<div class="container">
    <div class="d-flex title-page">
        <H3>Doctors</H3>
    </div>

    <app-alert></app-alert>

    <div class="d-flex">
        <div class="p-2">
            <input class="form-control" [(ngModel)]="filter" name="filter" type="text" (ngModelChange)="search($event)" placeholder="Search by name or email"/>
        </div>
        <div class="ml-auto p-2">
            <a routerLink="/doctors/add" routerLinkActive="active" class="btn btn-primary">Add</a>
        </div>
    </div>

    <div class="content-table">
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-sm" *ngFor="let doctor of doctors">
              <td>{{doctor.name}}</td>
              <td>{{doctor.email}}</td>
              <td>{{doctor.phone}}</td>
              <td><a routerLink="/doctors/{{doctor.id}}/edit" class="btn btn-success btn-sm">Edit</a>
                   <a class="btn btn-danger btn-sm" (click)="deleteDoctor(doctor)">Delete</a>
              </td>
            </tr>
            <div *ngIf="totalElements === 0">
                <h6>Result not found!</h6>
            </div>
            </tbody>
          </table>
    </div>
   
</div>
